<center>
<h1> this server is running with OS  {{ ansible_distribution }} </h1>
<h1> this server is host_name is {{ ansible_hostname }} </h1>
<h1> this server is running with {{ user_name }} </h1>
</center>
